@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'normalize.css';

:root {
    --primary-color: #e13f5e  ;
    --header-bg-color: #fff;
    --bg-color: #fff0f5;
    --text-color: #666;

    --lavenderblush-color: #fff0f5;
    --white-color: white;
    --light-gray-color: #ccc;
    --red-color: #E10600;
    --warn-color:#ffc107;
    --black-color:#000000;
}

[theme="dark"] {
    --primary-color: #e13f5e  ;
    --header-bg-color: #232b2b;
    --bg-color: #3b444b;
    --text-color: white;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    font-family: inherit;
    background-color: var(--bg-color);
}