#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* width: 100vw; */
    height: 62px;
    padding: 0 20px;
  
    background-color: var(--header-bg-color);
  
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
    ;
  }
  
.header__logo {
  display: flex;
  align-items: center;
  
  cursor: pointer;
}

.header__logo-svg {
  margin-right: 10px;

}
.header__logo-text {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.35;
  text-transform: uppercase;

}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 10px;
}


.header__account-avatar {
  width: 32px;
  height: 32px;

  border: 1px solid var(--light-gray-color);
  border-radius: 100rem;

  object-fit: cover;
}

.header__account-name {
  padding-left: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);

}

.header__account-name:hover {
  opacity: 0.8;
}