#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* width: 100vw; */
    height: 62px;
    padding: 0 20px;
  
    background-color: var(--header-bg-color);
  
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
    ;
  }
  
  .header_logo-link {
    text-decoration: none;
  }
  
  .header_logo-img {
    width: 172px;
    height: 50px;
  }
  
  .header_account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  
  .header_account-avatar {
    width: 32px;
    height: 32px;
  
    border: 1px solid var(--light-gray-color);
    border-radius: 100rem;
  
    object-fit: cover;
  }
  
  .header_account-name {
    padding-left: 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
  
  }
  
  .header_account-name:hover {
    opacity: 0.8;
  }