:root {
  --primary-color: #e13f5e  ;
  --light-primary-color: #eb9caf;
  --black-color:#000000;
  --white-color: #fff;
  --light-gray-color: #ccc;
  --lavender-blush-color: #fff0f5;
  --red-color: #E10600;
  --blue-color: #071952;
  --text-color: #666;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css chung */
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /* */
  height: 100%;
  width: 100%;
}

.btn {
  width: 120px;
  height: 40px;

  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;

  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  font-weight: 600;
  opacity: 0.8;
}

.btn.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn-danger {
  color: var(--white-color);
  background-color: var(--red-color);
}

.btn.btn-outline {
  border: 1px solid var(--light-gray-color);
}

.btn.btn-outline:hover {
  color: var(--text-color);
  background-color: var(--light-gray-color);;
}

.btn.btn-text {
  text-decoration: underline;
}

.btn.btn-text--danger {
  color: var(--red-color);
}

.btn.btn-text--danger:hover {
  color: red;
}

.btn.btn-text--warn {
  color: var(--blue-color);
}

.btn.btn--small {
  width: 44px;
  height: 28px;
  font-size: 1.5rem;
}

.btn.btn--extra-large {
  width: 160px;
  height: 32px;
  font-size: 1.5rem;
}

/* Css App */
#app {
  padding-top: 62px;
  height: 1000px;
  background-color: var(--lavender-blush-color);
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 62px;
  padding: 0 20px;

  background-color: var(--white-color);

  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
  ;
}

.header_logo-link {
  text-decoration: none;
}

.header_logo-img {
  width: 172px;
  height: 50px;
}

.header_account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}


.header_account-avatar {
  width: 32px;
  height: 32px;

  border: 1px solid var(--light-gray-color);
  border-radius: 100rem;

  object-fit: cover;
}

.header_account-name {
  padding-left: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);

}

.header_account-name:hover {
  opacity: 0.8;
}

#container {
  margin: 30px 20px 0;

}

.container_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_heading-title {
  font-size: 2.8rem;
}

.container_heading-search {
  padding: 12px;
  margin-right: 14px;
  height: 44px;
  width: 344px;

  border-radius: 22px;
  border: 1px solid var(--light-gray-color);
  outline: none;
}

.container_heading-search:focus {
  border-color: var(--primary-color);

}

.content_table {
  margin-top: 30px;
  width: 100%;

  border: 1px solid var(--light-gray-color);
  border-collapse:collapse; 
}

.table_heading , .table_data{
  padding-left: 10px;
  color: var(--text-color);
}

.table_heading {
  color: var(--lavender-blush-color);
  background-color: var(--primary-color);
}

.table_row {
  height: 44px;
  padding: 8px;

  font-size: 1.5rem;
  text-align: left; 

  background-color: var(--white-color);
  border-bottom: 2px solid var(--light-gray-color);
}

.table_heading:nth-child(1){
  width: 45% ;
}

.table_heading:nth-child(2) {
  width: 20% ;
}

.table_heading:nth-child(3) {
  width: 20% ;
}

.table_heading:nth-child(4) {
  width: 15% ;
}


/* Dialog */
.dialog {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0, .5);
  animation: fadeOut 0.3s ease-in ;
}

@keyframes fadeOut {
  to {
    opacity: 1;
  } from {
    opacity: 0;
  }
}

.dialog .dialog-container {
  display: flex;
  flex-direction: column;

  max-width: 368px;

  background-color: var(--white-color);
  border: 2px solid var(--light-gray-color);
  border-radius: 10px;
}

.dialog .dialog-container_heading  {
  padding: 12px 12px 8px;
  border-bottom: 1px solid var(--light-gray-color);
}

.dialog .dialog-container_heading h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.dialog .dialog-container_body {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 12px;
  width: 100%;

  font-size: 1.5rem;
  overflow: auto;
}

.dialog-container_body-content {
  text-align: center;
  padding: 36px;
}

.dialog-container_body-content span {
  font-weight: bold;
}

.dialog-container_footer  {
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--light-gray-color);
}

.dialog-container_footer button.submit-btn {
  margin-left: 12px;
}

/* Dialog form */
.dialog-form_field {
  margin-top: 10px ;
}

.dialog-form_field-label {
  display: block;
}

.dialog-form_field-input {
  margin-top: 4px;
  padding: 8px;

  width: 100%;
  height: 32px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--light-gray-color);
}

.dialog-form_field-input:focus {
  border: 1px solid var(--primary-color);
}

.dialog-form_field-select {
  margin: 4px 0 12px;
  padding: 4px;
  
  width: 100%;
  height: 32px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--light-gray-color);
}